p.form-error {
  color: red;
}
#wrapper1 {
  height: 100%;
}
#content-wrapper-pages {
  height: 40rem !important;
}

/* navbar */
#navbar-content {
  height: 4rem;
}

#content-wrapper1 {
  height: 5rem;
}
#content-wrapper {
  background-color: #fefefe !important;
}
.modal-body {
  padding: 3rem 1rem !important;
}
